IMSDemo/I.M.S/Service References/SpeechService/SpeechService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SpeechService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64405/SpeechService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64405/SpeechService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISpeechService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ISpeechService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ISpeechService_Speak_InputMessage">
    <wsdl:part name="parameters" element="tns:Speak" />
  </wsdl:message>
  <wsdl:message name="ISpeechService_Speak_OutputMessage">
    <wsdl:part name="parameters" element="tns:SpeakResponse" />
  </wsdl:message>
  <wsdl:portType name="ISpeechService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpeechService/DoWork" message="tns:ISpeechService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpeechService/DoWorkResponse" message="tns:ISpeechService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Speak">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpeechService/Speak" message="tns:ISpeechService_Speak_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpeechService/SpeakResponse" message="tns:ISpeechService_Speak_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISpeechService" type="tns:ISpeechService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ISpeechService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Speak">
      <soap:operation soapAction="http://tempuri.org/ISpeechService/Speak" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SpeechService">
    <wsdl:port name="BasicHttpBinding_ISpeechService" binding="tns:BasicHttpBinding_ISpeechService">
      <soap:address location="http://localhost:64405/SpeechService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>